@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


.quiz{
  margin: 0;
  padding: 0;
}

.card-quiz{
  width: 40rem ;
}
@media only screen and (min-width: 600px) {
  .card-quiz{
    height: 40rem !important;
  }

  .question{
    margin: 20px 0px;
  }

  .options{
    margin: 20px 0px;
    font-size: 22px;
  }

  .option{
    margin: 0px 5px;
  }

  h1{
    font-size: 34px;
  }

  .quiz-text{
    font-size: 28px;

    margin: 40px 0px;
  }
}